# Pytorch geometric
torch-geometric~=2.6.1
# Joblib for parallelization
joblib~=1.5.1
# PyYAML
PyYAML~=6.0.2
# Pandas
pandas~=2.3.3
# Matplotlib
matplotlib~=3.10.3
# OGB for loading the OGB benchmark datasets
#ogb~=1.3.6
# Click for command line interface
click~=8.2.1
# RdKit for molecular graph processing
#rdkit~=2025.3.3